@page {
  margin:0.25in;
  size:letter portrait;
}
nav {
  display:none;
}
td:has(.label) {
  text-align:right;
}
th a {
  display:none;
}
.container-fluid {
  margin:0;
}
.nav-footer {
  display:none;
}
.reservation-row td:last-of-type {
  display:none;
}
.table-condensed>tbody>tr>td {
  padding:calc(var(--spacer)/6) 5px;
}
.table-container {
  padding:0;
}