Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^contracts contracts.php [NC,L]

RewriteRule ^registrations registrations.php [NC,L]

RewriteRule ^reminders reminders.php [NC,L]

RewriteRule ^requests requests.php [NC,L]

RewriteRule ^reservations/(.*) reservations.php?reservationDate=$1 [NC,L]

RewriteRule ^reservations reservations.php [NC,L]

RewriteRule ^journal/(.*) journal.php?id=$1 [NC,L]

RewriteRule ^journal journal.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)(\.gz)?$">
  Header set Expires "Sat, 31 Dec 2022 00:00:00 GMT"
</FilesMatch>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"
</IfModule>
